@import '~bootstrap/scss/bootstrap';

a{
    color: blue;
    text-decoration: none; /* no underline */
}


//general css rules
main{

padding-left: 300px;
padding-right: 300px;

    .projects_wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px; 

        .project{
            display: flex;
            flex-direction: column;
            align-items: center;

            //prj-title (preview)
            .prj-title{
                display: block;
                font-size: 20px;
            }

            //prj-image (preview)
            .prj-image{
                width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
                overflow: hidden;
            }

            .prj-image:hover{
                outline: 3px black solid;
            }


        }
    }

}


//admin-specific css 
main{

    .new-project_wrapper{
        display: flex;
        justify-content: center;
        padding: 30px 0;
    
        .new-project_button{
            padding: 7px 10px;
            background-color: rgba(97, 97, 97, 0.308);
            color: white;
            border-radius: 15px;
        }
    
        .new-project_button:hover{
            background-color: black;
        }
    } 
    
    .admin-actions_wrapper{

        display: flex;

        .prj-delete-button{

            margin-top: 15px;
            padding: 5px 20px;
            background-color: rgba(97, 97, 97, 0.308);
            color: white;
            margin-right: 30px;
            border-radius: 15px;

        }

        .prj-delete-button:hover{
            background-color: black;
        }

        .prj-edit-button{

            margin-top: 15px;
            padding: 5px 20px;
            background-color: rgba(97, 97, 97, 0.308);
            color: white;
            margin-left: 30px;
            border-radius: 15px;

        }
        
        .prj-edit-button:hover{
            background-color: black;
        }

    }

}


    

